<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <style>
        body{text-align:center}
    </style>
  </head>
  <body>
      <br>
      <a href="{{ .HostAddress }}/bs"><h2>博士生未打卡名单</h2></a>
      <br>
      <a href="{{ .HostAddress }}/yjs"><h2>研究生未打卡名单</h2></a>
      <br>
      <a href="{{ .HostAddress }}/bk17"><h2>2017级本科生未打卡名单</h2></a>
      <br>
      <a href="{{ .HostAddress }}/bk18"><h2>2018级本科生未打卡名单</h2></a>
      <br>
      <a href="{{ .HostAddress }}/bk19"><h2>2019级本科生未打卡名单</h2></a>
      <br>
      <a href="{{ .HostAddress }}/bk20"><h2>2020级本科生未打卡名单</h2></a>
  </body>
</html>