<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<form form id="form" action="/uploadforsyxonly" method="POST" enctype="multipart/form-data">
			<div class="abnormal"></div>
			<br>
			<button type="submit" name="button" id = "button" style="color:peru;font-size:25px" size="30">上传</button>
            <br><br><br><input type="file" name="file" id="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"  style="color:peru;font-size:30px"; size="30"/><br><br>
        </form>
    </body>
    
</html>